/* styles.css */

.elemento {
    margin-top: 0px;    /* Margen en la parte superior */
    margin-right: 25px;  /* Margen a la derecha */
    margin-bottom: 20px; /* Margen en la parte inferior */
    margin-left: 25px;   /* Margen a la izquierda */
}

.profile-item {
    /* Usa el estilo de texto de Bootstrap */
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #333;
}

.profile-item h5 {
    font-size: 1.25rem; /* Ajusta según sea necesario */
}

.profile-item p {
    font-size: 1rem;
}

.background-section {
    background: url('../../images/background.jpg') no-repeat center center;
    background-size: cover ; /* Ajusta el tamaño del fondo para que cubra el contenedor */
}

.image-container {
    position: relative;
    width: 100%; /* El contenedor ocupa el 100% del ancho */
    height: 300px; /* Ajusta esta altura según tus necesidades */
    overflow: hidden; /* Oculta el exceso de imagen si es más alta que el contenedor */
  }
  
.image {
    display: block;
    width: 100%; /* Imagen ocupa todo el ancho */
    height: auto; /* Mantiene la relación de aspecto */
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor recortando si es necesario */
  }
  
  
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 100px; /* Tamaño del texto */
    font-weight: bold; /* Peso de la fuente */
    text-shadow: 2px 2px 4px #2a152e; /* Sombra para mejorar la visibilidad */
}

.miuw-title {
    font-family: "Assistant", sans-serif; /* Define la tipografía */
    font-optical-sizing: auto; /* Ajusta el tamaño óptico de la fuente */
    font-weight: 900; /* Ajusta el peso de la fuente, en este caso, negrita */
    font-style: normal; /* Estilo de la fuente normal */
    color: white; /* Color del texto */
    font-size: 120px; /* Tamaño del texto */
}

.highlighted-section {
  background-color: hsl(298, 41%, 15%); /* Color de fondo sólido */
  width: 100%; /* Ocupa todo el ancho disponible */
  height: 200px; /* Ajusta la altura de la sección según lo necesites */
  padding: 50px 0; /* Espaciado para el contenido */
  text-align: center; /* Centra el texto */
  color: white; /* Color del texto */
  margin-top: auto; /* Empuja la sección hacia el fondo del contenedor */
}

body {
  background-color: #ecb9ff;
  margin: 0; /* Color de fondo de toda la página */
  padding: 0;

    .navbar-custom {
      padding: 0;
      background-color: #100614; /* Color rosado para la barra de navegación */
  }

  /* Estilo para el texto en la barra de navegación */
  .navbar-custom .navbar-brand,
  .navbar-custom .nav-link {
    padding: 0;
      color: white; /* Color del texto en la barra de navegación */
  }
}